<h2>收支記錄</h2>

<table>
  <tr>
    <th>價格</th>
    <th>明細</th>
    <th></th>
    <th></th>
  </tr>
<% @tracks.each do |track| %>
  <tr>
    <td><%= number_to_currency(track.price, :locale => :tw, :precision => 0) %></td>
    <td><%= track.description %></td>
    <td><%= link_to "編輯", edit_track_path(track) %></td>
    <td><%= link_to "刪除", track_path(track), method: :delete, :confirm => "請確定是否刪除" %></td>
  </tr>
<% end %>
</table>

<%= link_to '建立新記錄', new_track_path %>