<!DOCTYPE html>
<html>
<head>
  <title>Moneta</title>
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="container-fluid">
        <a class="brand" href="/">Moneta</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li><a href="#">報帳頁面</a></li>
            <li><%= link_to '分類設定', categories_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
<div class="span3">
  <%= yield :side %>
</div>
<div class="span9" id="main_block">
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<%= yield %>
</div>
</div>
<%= yield :js %>
</div>
</body>
</html>
