<% content_for :side do %>
<ul>
  <% @accounts.each do |account| %>
  <li><%= link_to account.name, account_path(account) %></li>
  <% end %>
</ul>
<% end %>

<h2><%= @account.name %></h2>
<div class="well">
  <div id="add_track">
  </div>
</div>
<table class="table">
  <tr>
    <th>分類</th>
    <th>價格</th>
    <th>明細</th>
    <th></th>
    <th></th>
  </tr>
<% @tracks.each do |track| %>
  <tr>
    <td><%= track.category.name if (track.category_id) %></td>
    <td><%= number_to_currency(track.price, :locale => :tw, :precision => 0) %></td>
    <td><%= track.description %></td>
    <td><%= link_to "編輯", edit_account_track_path(@account,track) %></td>
    <td><%= link_to "刪除", account_track_path(@account,track), method: :delete, :confirm => "請確定是否刪除" %></td>
  </tr>
<% end %>
</table>


<% content_for :js do %>
    $(document).ready(function() {        
      $('#add_track').load('<%= new_account_track_path(@account) %>');
    });
<% end %>