<% content_for :side do %>
<ul>
  <% @accounts.each do |account| %>
  <li><%= link_to account.name, account_path(account) %></li>
  <% end %>
</ul>
<%= link_to '新增帳戶', new_account_path %>
<% end %>

<h2><%= @account.name %> (<%= link_to '編輯', edit_account_path(@account) %>)</h2>
<div class="well">
  <div id="track_form">
  </div>
</div>
<table class="table">
  <tr>
    <th>日期</th>
    <th>分類</th>
    <th>價格</th>
    <th>明細</th>
    <th></th>
    <th></th>
  </tr>
<% @tracks.each do |track| %>
  <tr>
    <td><%= track.exchange_date %></td>
    <td><%= track.category.name if (track.category_id) %></td>
    <td><%= number_to_currency(track.price, :locale => :tw, :precision => 0) %></td>
    <td><%= track.description %></td>
    <td><%= link_to "編輯", edit_account_track_path(@account,track), :class => 'edit_track' %></td>
    <td><%= link_to "刪除", account_track_path(@account,track), method: :delete, :confirm => "請確定是否刪除" %></td>
  </tr>
<% end %>
</table>
<%= will_paginate(@tracks)%>

<% content_for :js do %>
$(function() {        
  $('#track_form').load('<%= new_account_track_path(@account) %>');
  $('.edit_track').click( function(){
    $('#track_form').load( $(this).attr("href") );
    return false;
  });
});
<% end %>